// Theme palettes
$black: #000000;
$black-opaque: #00000008;
$primary: #fea717;
$primary-opaque: #ffda9d;
$primary-opaque-dark: #fea71733;
$primary-dark: #ed9400;
$dark-gray: #333333;
$grey: #63656b;
$light-gray: #efefef;
$white: #ffffff;
$border-gray: #b4b4b4;
$warn: #ac1313;
$red-opaque: #fbdddd;

// Spacing

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;
$spacing-xxl: 124px;

// Fonts
$primary-font: 'Nunito' sans-serif;

// Transitions
$default-transition: 200ms ease-in;

// Font sizing

$border-radius: 4px;
$border-radius-heavy: 10px;
